{% extends 'base.html' %}
{% block title %}Djangman{% endblock %}
{% block content %}
<div class="text-center">
    <h1>Djangman</h1>
    <div class="container">

        {% if not game %}
        <p>You are not playing any games right now.</p>
        <p>Click below to start a new game.</p>
        <a href="{% url 'hangman:new_game' %}">New game</a>

        {% else %}
        <div>Current Game</div>
        <div>
            <pre>{{ game.guessing_string }}</pre>
        </div>
        <div style="color:white;">{{ game.word }}</div>
        <div>
            {% if not game.has_guessed_word %}
            <form action="{% url 'hangman:guess' %}" method="post">
                {{ form.as_table }}
                <input type="submit" value="Guess">
                {% csrf_token %}
            </form>
            {% else %}
                <h3>Congratulations!<br> You have guessed the word!</h3>
                <button onclick="location.href = '{% url 'hangman:new_game' %}'">New Game</button>
            {% endif %}
        </div>
        {% endif %}
    </div>

</div>
{% endblock %}